@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url(//db.onlinewebfonts.com/c/4aa3e37e571255737e5e6d4e9d9770a5?family=Rockwell);


$background-color: #1E1D1D;
$text-color: white;
$block-color-primary: #131010;
$block-color-secondary: #746868;
$font-details: 'Righteous', cursive;
$navbar-height: 12vh;
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;