@import '../../variables';
@import '../../mixin';

.playlistPage{
    background-color: $block-color-secondary;
    height: 130vh;
    display: grid;
    grid-template-rows: 1fr 2fr;
    @include flex(column, flex-start, center);
}
.list_of_songs{
    display: contents;
}