@import '../../variables';
@import '../../mixin';

.homePage{

    background-color: $background-color;
    &__Welcome{
        width: 100%;
        @include details-text;
        text-align: center;
        padding-left: 500px;
        padding-top: 150px;
    }
    &__topTen{
        width: 100%;
        @include details-text;
        background-color: $block-color-secondary;
        padding-bottom: 80px;
    }
}
h1{
   margin-bottom: 100px;
}

