@import '../../../variables';
@import '../../../mixin';
.songRow{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 0.2fr 1fr; 
    width: 100%;
    @include song-text;
    text-align: center;
}
p{
    @include details-text;
    font-size: 1rem;
    text-align: center;
}
.control__logo{
    box-sizing: content-box;
    height: 20px;
    width: 20px;
    border-radius: 100px;
    padding: 5px;
}