@import '../../../variables';
@import '../../../mixin';

.titleBlock{
@include flex(row, flex-start,flex-start );
align-self: flex-start;
padding-top: 150px;
padding-bottom: 50px;
padding-left: 20px;
}
.title_info{
    @include details-text;
    font-size: 1rem;   
    padding-left: 20px;
    
}
.cover_img{
    border-radius: 10px;
    width: 300px;
}
.like{

}
.disLike{
    display:none
}