@import '../../variables';
@import '../../mixins';

.navbar{
    background-color: $block-color-primary;
    max-height: 15vh;
    min-width:165px;
    width: 100%;
    position: absolute;
    white-space: nowrap;
    @include flex(row, space-between,center);
    &__container{
        @include flex(row, center, center);
    }
    &__links{
        @include flex(row, center,center);
        justify-self: flex-start;
        margin: 0.5rem 4rem;
        text-decoration: none;
        @include details-text;
    }

    p{  
        @include details-text;
        width: min-content;
        margin-left: 3rem;
        font-size: 1.5rem;
    }
    &--end{
        justify-self: flex-end ;
    }
    &__logo{
        height: 80%;
        width: auto;
    }
    &__line{
        height: $navbar-height;
        width:1px;
        background-color: white;
    }

}