@import '../../variables';
@import '../../mixin';

.songPage{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: $background-color;
    height: 100vh;
    width: 100vw;
    &__song{
      @include flex(row, space-evenly, center);
    }
    &__Info{
      width: 50%;
      @include details-text;
      font-size: 20px;
      padding-top: 30px;
    }
    &__rightBlock{
    
      @include flex(column, center, center);
    }
    &__label{
      width: 100%;
      @include flex(row, space-between, center);
    }
    &__control{
      width: 50%;
      background-color: $block-color-primary;
      position: relative;
      top:2rem;
    }
  }
    .lyricButton {
      width: 100px;
      height: 20px;
      background: #f3f0f1;
      position: relative;
      background: #f3f0f1;
      margin-bottom: 25px;
      border-radius: 32px;
      text-align: center;
      cursor: pointer;
      transition: all 0.1s ease-in-out;   
      span{
        font-family: $font-details;
      }
  }

.relatedSongHeader{
  @include details-text;
}


